demo/[[:space:]]videos/ filter=lfs diff=lfs merge=lfs -text
final[[:space:]]project[[:space:]]video.mp4 filter=lfs diff=lfs merge=lfs -text
project[[:space:]]demo.MOV filter=lfs diff=lfs merge=lfs -text
